<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1HQ_r6frOaG2ZaHMFebuSsixuSe_oaIk</string>
	<key>GCM_SENDER_ID</key>
	<string>19020859468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spade.spadev4</string>
	<key>PROJECT_ID</key>
	<string>spade-fc163</string>
	<key>STORAGE_BUCKET</key>
	<string>spade-fc163.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19020859468:ios:1b3f8eae79ad864f5d8ce9</string>
</dict>
</plist>